html {
    font-family: "Atkinson Hyperlegible";
    font-size: 20px;
}
Program {
    --comment-background: #EEEEEE;
    --comment-width: 300px;
    padding-right: var(--comment-width);
}
Function, ExportedFunction {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2.5rem; 
    margin-bottom: 0.5rem;
}
ExportedFunction::before {
    content: "⬆"
}

Parameter {
    font-style: italic;
    font-weight: normal;
}
FunctionBody {
    width: 40em;
}
Comment {
    font-style: italic;
    font-size: 0.8rem;
    display: block;
    position: absolute;
    width: var(--comment-width);
    right: 30px;
    background-color: var(--comment-background);
    padding: 1em;
}
Expression {
    display: block;
    height: 1rem;
    white-space: pre;
}
Block::before {
    content: "[ ";
}
Block::after {
    content: " ]";
}